.wrapperFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--graybg);
    background-color: var(--black);
    padding: 24px;
}

.logo {
    filter: invert(1);
}

.copyright {
    color: var(--white);
}

.copyrightLinks {
    display: flex;
    gap: 20px;
}

.copyrightLinks a {
    color: var(--white);
    text-decoration: underline;
}

.copyrightLinks a:hover {
    color: var(--red);
}

.linksFooterNav a{
    color: var(--white);
}

.linksFooterNav a:hover {
    color: var(--red);
}

.socialMediaUl {
    display: flex;
    gap: 10px;
    padding: 20px;
}

.socialMediaUl a {
    color: var(--white);
}

.socialMediaUl a:hover {
    color: var(--red);
}