.Hero {
    background-color: var(--black);
    padding: 24px;
}

.wrapperHero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.heroContent {
  /* max-width: 20ch; */
  font-size: 38px;
  text-align: center;
  color: var(--white);
}

.heroContent p {
  font-size: 18px;
  margin-top: 1rem;
  color: var(--white);
}

img {
  width: 50%;
}

.Buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.modernButton {
  display: flex;
  align-items: center;
  background-color: var(--red);
  color: white;
  border: 2px solid transparent;
  border-radius: 9px;
  padding: 12px 24px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  background-clip: padding-box;
  position: relative;
  z-index: 1;
  margin-top: 20px;
}

.modernButton svg{
    font-size: 18px;
    transition: transform 0.3s ease;
}

.modernButton:hover {
    background-color: transparent;
    border-color: var(--white);
    color: var(--white);
    transition: all 0.3s ease;  
}

.modernButton:hover svg {
    transform: translateX(4px);
}

@media (max-width: 768px) {
  .wrapperHero {
    flex-direction: column;
  }
  .heroContent {
    margin-top: 1rem;
    font-size: 24px;
  }
  img {
    width: 100%;
  }
}