.Brands {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.wrapperBrands {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.brandsContent {
  padding-bottom: 2rem;
}

.brandsContent h2 {
  font-size: 28px;
}

.brandsList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 128px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.brandsList img {
  width: 61px;
}

.brandsList img:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.5);
  opacity: 1;
}

@media (max-width: 768px) {
  .brandsList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}